# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\3_types_words\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
